 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/full-shot-people-barre-group-cla.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 139px 446px 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 591px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.75rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 60px 0;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 246px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 391px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 126px;
    margin-right: 174px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 144px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1976px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 66px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 1625px;
  grid-gap: 24px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 50px;
}

.u-section-2 .u-text-2 {
  font-size: 1.625rem;
  margin: 308px 30px 0;
}

.u-section-2 .u-image-1 {
  height: 278px;
  margin-top: -339px;
  margin-bottom: 0;
  object-position: 100% 50%;
}

.u-section-2 .u-text-3 {
  margin: 81px 30px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 50px;
}

.u-section-2 .u-text-4 {
  font-size: 1.625rem;
  margin: 308px 30px 0;
}

.u-section-2 .u-image-2 {
  height: 278px;
  margin-top: -339px;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin: 81px 30px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 50px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 308px 30px 0;
}

.u-section-2 .u-image-3 {
  height: 278px;
  margin-top: -339px;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  margin: 81px 30px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 50px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 308px 30px 0;
}

.u-section-2 .u-image-4 {
  height: 278px;
  margin-top: -339px;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  margin: 81px 30px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 50px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 308px 30px 0;
}

.u-section-2 .u-image-5 {
  height: 278px;
  margin-top: -339px;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  margin: 81px 30px 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 50px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 308px 30px 0;
}

.u-section-2 .u-image-6 {
  height: 278px;
  margin-top: -339px;
  margin-bottom: 0;
}

.u-section-2 .u-text-13 {
  margin: 81px 30px 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 50px;
}

.u-section-2 .u-text-14 {
  font-size: 1.625rem;
  margin: 308px 30px 0;
}

.u-section-2 .u-image-7 {
  height: 278px;
  margin-top: -339px;
  margin-bottom: 0;
}

.u-section-2 .u-text-15 {
  margin: 81px 30px 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 50px;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 308px 30px 0;
}

.u-section-2 .u-image-8 {
  height: 278px;
  margin-top: -339px;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-2 .u-text-17 {
  margin: 81px 30px 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 0 50px;
}

.u-section-2 .u-text-18 {
  font-size: 1.625rem;
  margin: 308px 30px 0;
}

.u-section-2 .u-image-9 {
  height: 278px;
  margin-top: -339px;
  margin-bottom: 0;
}

.u-section-2 .u-text-19 {
  margin: 81px 30px 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-text-20 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 38px auto 60px;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 1336px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-3 {
    font-style: italic;
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-5 {
    font-style: italic;
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-7 {
    font-style: italic;
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-9 {
    font-style: italic;
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-11 {
    font-style: italic;
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-6 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-13 {
    font-style: italic;
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-7 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-15 {
    font-style: italic;
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-8 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-17 {
    font-style: italic;
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-9 {
    height: 229px;
    margin-top: -31px;
  }

  .u-section-2 .u-text-19 {
    font-style: italic;
    width: auto;
    margin-top: 82px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 2608px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-1 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-2 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-3 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-4 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-5 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-6 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-7 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-8 {
    height: 263px;
    margin-top: -324px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-9 {
    height: 263px;
    margin-top: -324px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-6 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-7 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-8 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-9 {
    height: 395px;
    margin-top: -456px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: 279px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 249px;
    margin-top: -310px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 279px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 249px;
    margin-top: -310px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 279px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 249px;
    margin-top: -310px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 279px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 249px;
    margin-top: -310px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 279px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 249px;
    margin-top: -310px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 279px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 249px;
    margin-top: -310px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-top: 279px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    height: 249px;
    margin-top: -310px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-top: 279px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-8 {
    height: 249px;
    margin-top: -310px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-top: 279px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-9 {
    height: 249px;
    margin-top: -310px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
  min-height: 825px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 504px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 51px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
  min-height: 467px;
  grid-gap: 40px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 29px 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-4 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 2;
  margin: 51px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 51px auto 0;
  padding: 15px 56px 17px 55px;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 50px 29px 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-6 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: normal;
  margin: 51px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 51px auto 0;
  padding: 15px 56px 17px 55px;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 50px 29px 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-8 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: normal;
  margin: 51px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 51px auto 0;
  padding: 15px 56px 17px 55px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 26.666700000000002px));
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20.000025px));
    min-height: 939px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 580px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  background-image: none;
  margin: 65px 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 310px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 164px;
  min-width: 124px;
  margin: 22px auto 0 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 310px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  height: 226px;
  width: 471px;
  margin: 0 auto;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-4 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-4 .u-form-1 {
    height: 230px;
    width: 442px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 45px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-form-1 {
    height: 321px;
    width: 288px;
  }
}